@charset "UTF-8";
/*! lixinjie 20180502 github.com/xinjie-just/farming.git */
@import "variables";
@import "reboot";

/*===登录===*/
// 开始时间和结束时间连接符
.connect {
  display: block;
  line-height: 1.47058824;
  font-size: inherit;
  color: inherit;
}
//忘记密码，注册新账号
.forgetPwd-signUp {
  margin: 1.17647059em 15px .3em;
  font-size: 15px;
  @extend %clearfix;
  a {
    display: block;
    float: left;
    width: 50%;
    line-height: 1.6;
    @extend %ellipsis;
    color: #1aad19;
    &:nth-of-type(2n + 1) {
      text-align: left;
    }
    &:nth-of-type(2n + 2) {
      text-align: right;
    }
  }
}
// 其他登录方式
.other-way {
  position: fixed;
  bottom: 4em;
  @extend %page-width;
  text-align: center;
  font-size: 14px;
  padding: .5rem;
  color: #999;
  &.auto {
    position: static;
    margin-top: 2rem;
  }
  p {
    font-size: 12px;
    color: #999;
    position: relative;
    &:before,
    &:after {
      content: "";
      width: calc(50% - 44px);
      height: 1px;
      background-color: #999;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .weixin {
    text-align: center;
    border-radius: 50%;
  }
  .weixin-link-btn {
    display: inline-block;
    font-size: 34px;
    color: #1aad19;
    padding: 8px 14px;
    line-height: 1;
  }
}

.weui-pwd-btn{
  display:inline-block;
  height:45px;
  margin-left:5px;
  padding:0 0.6em 0 0.7em;
  border-left:1px solid #E5E5E5;
  line-height:45px;
  vertical-align:middle;
  font-size:24px;
  font-weight: 500;
  color:#3CC51F;
}
button.weui-pwd-btn{
  background-color:transparent;
  border-top:0;
  border-right:0;
  border-bottom:0;
  outline:0;
}
.weui-pwd-btn:active{
  color:#52a341;
}

/*后台首页列表*/
.back-end-home-list {
  position: relative;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-180px);
  -moz-transform: translateY(-180px);
  -ms-transform: translateY(-180px);
  -o-transform: translateY(-180px);
  transform: translateY(-180px);
  .back-end-home-link {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    i {
      color: $main-color;
      display: inline-block;
      font-size: 50px;
    }
    strong {
      display: block;
      font-size: 16px;
      color: $main-color;
      text-align: center;
    }
  }
}

.my-question,
.all-question {
  padding-top: .5rem;
  margin-bottom: 1rem;
}
/*我的问题列表*/
.question-heading {
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  padding-top: .4rem;
  padding-bottom: .8rem;
}
/*表格*/
.question-list {
  table-layout: fixed;
  width: 100%;
  margin-top: 1rem;
  tr {
    th,
    td {
      font-size: inherit;
      color: inherit;
      text-align: left;
      padding-right: .5rem;
      padding-left: .5rem;
      @extend %ellipsis;
      &.status {
        width: calc(4.5em + 1rem);
      }
      &.result {
        width: calc(4.5em + 1rem);
      }
      &.summary {
        width: 100%;
      }
    }
  }
  thead {
    tr {
      font-size: 14px;
      height: 3em;
      line-height: 3em;
      background-color: #eaeaea;
    }
  }
  tbody {
    tr {
      font-size: 13px;
      height: 3em;
      line-height: calc(3em - 1px);
      border-bottom: 1px solid #eaeaea;
      td {
        position: relative;
        &.unsatisfactory {
          color: #f00;
        }
        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          color: inherit;
          border: 1px solid;
          height: 2.4em;
          line-height: calc(2.4em - 2px);
          padding-right: 1em;
          padding-left: 1em;
          border-radius: 3px;
          background-color: transparent;
          &.unsatisfactory {
            color: #f00;
          }
        }

      }
    }
  }
}

/*专家列表*/
.expert-heading {
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: .4rem;
}

.expert-list {
  table-layout: fixed;
  width: 100%;
  margin-top: .5rem;
  tr {
    th,
    td {
      font-size: inherit;
      color: inherit;
      text-align: left;
      padding-right: .5rem;
      padding-left: .5rem;
      @extend %ellipsis;
      &.phone {
        width: 160px;
      }
      &.name {
        width: 100%;
      }
    }
  }
  thead {
    tr {
      font-size: 14px;
      height: 3em;
      line-height: 3em;
      background-color: #eaeaea;
    }
  }
  tbody {
    tr {
      font-size: 13px;
      height: 2.6em;
      line-height: calc(2.6em - 1px);
      border-bottom: 1px solid #eaeaea;
    }
  }
}
.expert-question-matching-list {
  font-size: 14px;
  .weui-cell {
    font-size: inherit;
  }
}

/*问题类型列表*/
.question-type-list {
  margin-top: .5rem;
  @extend %clearfix;
  li {
    list-style-type: disc;
    list-style-position: inside;
    padding-right: 1em;
    padding-left: 1em;
    font-size: 14px;
    float: left;
    margin-top: .5em;
    margin-bottom: .5em;
    @extend %ellipsis;
    width: 50%;
  }
}

/*图片放大和图片上传*/
.popup-gallery-container {
  margin-top: .5rem;
  padding: 10px 15px;
  .heading {
    font-size: 14px;
    font-weight: normal;
    color: #999;
    margin-bottom: .3rem;
  }
  .popup-gallery {
    @extend %clearfix;
    a {
      display: block;
      float: left;
      width: 75px;
      height: 75px;
      margin-bottom: 15px;
      margin-right: 15px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .add-img-btn {
      display: block;
      width: 75px;
      height: 75px;
      margin-bottom: 15px;
      margin-right: 15px;
      font-size: 36px;
      padding-left: 17px;
      line-height: 75px;
      border: 1px solid #ababab;
      border-radius: 8px;
      background-color: transparent;
    }
  }
}

/*统计分析*/
.statistic {
  > div {
    margin: 15px auto 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/*===首页未登录===*/
/*天气*/
.weather {
  margin-bottom: 5px;
  .today {
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-image: linear-gradient(to bottom, #1a3056, #45658C);
    > div {
      text-align: center;
      color: #fff;
    }
    .now-temperature {
      font-size: 28px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 10px;
    }
    .condition {
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 6px;
    }
    .highest-lowest {
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 6px;
    }
    .quality {
      font-size: 14px;
      line-height: 1.6;
    }
  }
  .future {
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding-right: 1rem;
      padding-left: 1rem;
      color: #fff;
      background-image: linear-gradient(to right, #2b4b72, #496a93);
      font-size: 14px;
      line-height: 2.5;
      &:not(:last-of-type) {
        border-bottom: 1px solid #fff;
      }
      > div {
        flex: 1;
        color: inherit;
        font-size: inherit;
        &:first-of-type {
          text-align: left;
        }
        &:nth-of-type(2) {
          text-align: center;
        }
        &:last-of-type {
          text-align: right;
        }
        &.iconfont {
          font-size: 1.4em;
        }
      }
    }
    
  }
}
.handle-list {
  font-size: 14px;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 5px;
  background-image: linear-gradient(to bottom, #1a3056, #45658C);
  @extend %clearfix;
  a {
    display: block;
    float: left;
    width: 33.33333333%;
    padding: 1em .5em;
    font-size: inherit;
    color: #fff;
    text-align: center;
    @extend %ellipsis;
    i {
      color: inherit;
      font-size: 40px;
      display: block;
      &.icon-VRAR {
        font-weight: 600;
      }
    }
    strong {
      font-size: inherit;
      color: inherit;
      font-weight: normal;
    }

  }
}
.weui-cell_select.variety,
.weui-cell_select.monitoring-point{
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  background-image: linear-gradient(to right, #2b4b72, #496a93);
  color: #fff;
  &::before {
    border-top-width: 0;
  }
  .iconfont {
    font-size: 1.4em;
  }
  .weui-select {
    color: inherit;
    option {
      color: #999;
      line-height: 1.5;
    }
  }
}
.weui-cell_select {
  &:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }
}
.cultivate {
  table-layout: fixed;
  width: 100%;
  margin-top: 5px;
  background-image: linear-gradient(to bottom, #1a3056, #45658C);
  color: #fff;
  tr {
    th,
    td {
      font-size: inherit;
      color: inherit;
      text-align: left;
      padding-right: .5rem;
      padding-left: .5rem;
      @extend %ellipsis;
      &.growth-period {
        width: 70px;
      }
      &.basic-operation {
        width: 50%;
      }
      &.general-operation {
        width: 50%;
      }
      &.operation-time {
        width: 100px;
      }
    }
  }
  thead {
    tr {
      font-size: 14px;
      height: 3em;
      line-height: 3em;
      background-color: #eaeaea;
      background-image: linear-gradient(to bottom, #1a3056, #45658C);
    }
  }
  tbody {
    tr {
      font-size: 13px;
      height: 2.6em;
      line-height: calc(2.6em - 1px);
      border-bottom: 1px solid #eaeaea;
    }
  }
}
.curing-condition {
  margin-top: 5px;
  margin-bottom: 1rem;
  > section {
    position: relative;
    padding: 50px 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .heading {
      position: absolute;
      top: 10px;
      left: 1rem;
      font-size: 14px;
      font-weight: normal;
      color: #fff;
      line-height: 1.5em;
      @extend %ellipsis;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #fff;
    }
    &:nth-of-type(4n + 1) {
      background-image: linear-gradient(to bottom, #1a3056, #45658C);
    }
    &:nth-of-type(4n + 2) {
      background-image: linear-gradient(to top, #1a3056, #45658C);
    }
    &:nth-of-type(4n + 3) {
      background-image: linear-gradient(to bottom, #193153, #45658C);
    }
    &:nth-of-type(4n + 4) {
      background-image: linear-gradient(to top, #193153, #45658C);
    }
    .iconfont {
      width: 100px;
      font-size: 60px;
      &.icon-guangzhao {
        color: #f6c600;
      }
      &.icon-turangshidu {
        color: #6fb8f5;
      }
      &.icon-wendu {
        color: #f05537;
      }
      &.icon-fengxiang {
        color: #977142;
      }
    }
    .condition {
      flex: 1;
      flex-direction: row;
      li {
        font-size: 13px;
        display: flex;
        color: #fff;
        line-height: 1.8;
        strong {
          display: block;
          font-size: inherit;
          font-weight: normal;
          width: 150px;
          @extend %ellipsis;
        }
        span {
          display: block;
          font-size: inherit;
          flex: 1;
          &.danger {
            color: #f00;
          }
          &.warning {
            color: #cee032;
          }
          &.normal {
            color: #6ca94a;
          }
        }
      }
    }
  }
}

/*统计分析搜索*/
.statistic-analysis-search {
  $fs: 14px;
  $size: calc(#{$fs} * 4);
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  select {
    border: 1px solid rgb(169, 169, 169);
    font-size: $fs;
    flex: 1;
    padding: 2px 0 2px 3px;
    &:not(:last-of-type) {
      margin-right: 3px;
    }
    max-width: calc((100% - #{$size} - 5px) / 3 - 2px);
    option {
      font-size: $fs;
      padding-left: 3px;
      line-height: 1.2;
    }
  }
  input[type="submit"] {
    display: block;
    margin-left: 3px;
    width: $size;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 24px;
    background-color: $main-color;
    color: #fff;
    font-size: $fs;
  }
}